{% load i18n wagtailadmin_tags wagtailcore_tags %}
{% if page.live %}
    {% pageurl page as page_url %}
    {% if page_url is not None %}
        {% trans 'Visit the live page' as trans_title %}
        {% trans "Current page status:" as trans_hidden_label %}
        {% status page.status_string url=page_url title=trans_title hidden_label=trans_hidden_label classname="primary" %}
    {% else %}
        {% trans "Current page status:" as trans_hidden_label %}
        {% status page.status_string hidden_label=trans_hidden_label classname="primary" %}
    {% endif %}
{% else %}
    {% trans "Current page status:" as trans_hidden_label %}
    {% status page.status_string hidden_label=trans_hidden_label %}
{% endif %}
