{% load i18n %}
{% load wagtailadmin_tags wagtailcore_tags %}

{% if page.live %}
    {% pageurl page as page_url %}
    {% if page_url is not None %}
        <a href="{% pageurl page %}" target="_blank" rel="noreferrer" class="status-tag primary" title="{% trans 'Visit the live page' %}">
            <span class="visuallyhidden">{% trans "Current page status:" %}</span> {{ page.status_string }}
        </a>
    {% else %}
        {% status classname="primary" %}
            <span class="visuallyhidden">{% trans "Current page status:" %}</span> {{ page.status_string }}
        {% endstatus %}
    {% endif %}
{% else %}
    {% status %}
        <span class="visuallyhidden">{% trans "Current page status:" %}</span>{{ page.status_string }}
    {% endstatus %}
{% endif %}