{% if url %}
    <a href="{{url}}" target="_blank" rel="noreferrer" class="status-tag {% if classname %}{{classname}}{% endif %}" {% if title %}title="{{title}}"{% endif %}>
        {% if hidden_label %}
            <span class="visuallyhidden">{{hidden_label}}</span> {% if label %}{{ label }}{% endif %}
        {% else %}
            {% if label %}{{ label }}{% endif %}
        {% endif %}
    </a>
{% else %}
    <span class="status-tag {% if classname %}{{classname}}{% endif %}">{% if hidden_label %}<span class="visuallyhidden">{{hidden_label}}</span> {% if label %}{{ label }}{% endif %} {% else %}{% if label %}{{label}}{% endif %}{% endif %}</span>
{% endif %}
