{% load i18n wagtailcore_tags wagtailadmin_tags %}

{% wagtail_version as version %}
<div
    class="panel nice-padding panel-upgrade-notification w-hidden"
    data-controller="w-upgrade-notification"
    data-w-upgrade-notification-current-version-value="{{ version }}"
    data-w-upgrade-notification-hidden-class="w-hidden"
>
    <div class="help-block help-warning">
        {% icon name='warning' %}
        {% blocktrans trimmed %}
            Wagtail upgrade available. Your version: <strong>{{ version }}</strong>.
            New version: <strong data-w-upgrade-notification-target="latestVersion"></strong>.
        {% endblocktrans %}
        <a href="" data-w-upgrade-notification-target="link">
            {% trans "Read the release notes." %}
        </a>
    </div>
</div>
